// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
 main{
     h1{
         text-align: center;
     }
 }
.card_box{
    margin: auto;
    width: 80%;
    margin: 10rem auto;
    
    img{
        width: 20rem;
        height: auto;
    }
    .post_card {
        background-color: $orange;
        // margin: 2rem;
    }
    .card-footer{
        background-color: $orange;
    }
}